.title {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
}
.frameGroup,
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-lgi) 0 0;
  gap: var(--gap-xl);
}
.desktopheaderTradeTableParent,
.frameParent {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.desktopheaderTradeTableParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameParent {
  gap: 22px;
}
.frameParent,
.tradeLight,
.tradeLightInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tradeLightInner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-13xl) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 768px);
  flex-shrink: 0;
}
.tradeLight {
  width: 100%;
  height: 982px;
  position: relative;
  background-color: var(--light-theme-background-bg);
  overflow: hidden;
  flex-direction: row;
  gap: 14.5px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--app-title-large-lowercase-size);
  color: var(--light-theme-text-primary-body);
  font-family: var(--app-headline-large-lowercase);
}
@media screen and (max-width: 1300px) {
  .tradeLightInner {
    display: none;
  }
  .tradeLight {
    padding-left: var(--padding-mini-5);
    padding-right: var(--padding-mini-5);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .tradeLightInner {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--app-body-large-uppercase-size);
    line-height: 19px;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .tradeLight {
    height: auto;
  }
}
