.favoriteIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.cryptocurrencyIcon {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-11xs);
  overflow: hidden;
  flex-shrink: 0;
}
.emojiIcon,
.eth {
  position: relative;
}
.eth {
  flex: 1;
  letter-spacing: 0.15px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.emojiIcon {
  height: 18px;
  width: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.ethParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.ethereum {
  position: relative;
  font-size: var(--app-label-large-lowercase-size);
  letter-spacing: 0.25px;
  line-height: 20px;
}
.frameParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.cryptocurrencyParent,
.favoriteParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.cryptocurrencyParent {
  flex: 1;
  align-items: flex-start;
}
.favoriteParent {
  width: 141px;
  align-items: center;
}
.div {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 20px;
  font-weight: 500;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.div2 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 20px;
  font-weight: 500;
  color: var(--dark-theme-base-color-error);
}
.desktoptradeCards,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.desktoptradeCards {
  align-self: stretch;
  border-radius: var(--br-9xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--app-body-large-uppercase-size);
  color: var(--light-theme-text-primary-body);
  font-family: var(--app-headline-large-lowercase);
}
@media screen and (max-width: 450px) {
  .desktoptradeCards {
    flex-wrap: wrap;
  }
}
