@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --app-headline-large-lowercase: Roboto;

  /* font sizes */
  --app-body-large-uppercase-size: 16px;
  --app-label-medium-lowercase-size: 12px;
  --app-label-large-lowercase-size: 14px;
  --app-headline-large-lowercase-size: 32px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --app-title-large-lowercase-size: 20px;
  --app-label-small-lowercase-size: 11px;
  --app-headline-small-lowercase-size: 24px;

  /* Colors */
  --light-theme-background-bg: #fbfcfe;
  --light-theme-text-primary-body: #111112;
  --light-theme-background-surfaces: #f5f7fc;
  --light-theme-base-color-primary-default: #613de4;
  --light-theme-border-and-divider-border-and-divider: #cdd5e9;
  --color-lightgray: #d4d4d4;
  --dark-theme-text-on-primary: #fff;
  --dark-theme-base-color-error: #ef4444;
  --color-crimson-100: rgba(239, 68, 68, 0.2);
  --dark-theme-base-color-success: #3bb167;
  --color-mediumspringgreen: rgba(74, 222, 128, 0.2);

  /* Gaps */
  --gap-204xl: 223px;
  --gap-92xl: 111px;
  --gap-37xl: 56px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-114xl: 133px;
  --gap-47xl: 66px;
  --gap-14xl: 33px;
  --gap-0: 0px;
  --gap-11xs: 2px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-smi: 13px;
  --gap-13xl: 32px;
  --gap-xl-7: 20.7px;
  --gap-29xl: 48px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-7xs: 6px;
  --padding-21xl: 40px;
  --padding-202xl: 221px;
  --padding-75xl: 94px;
  --padding-7xl: 26px;
  --padding-125xl: 144px;
  --padding-49xl: 68px;
  --padding-15xl: 34px;
  --padding-5xl: 24px;
  --padding-6xs: 7px;
  --padding-mini-5: 14.5px;
  --padding-13xl: 32px;
  --padding-base: 16px;
  --padding-2xl: 21px;
  --padding-10xs: 3px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-12xs: 1px;
  --padding-mid: 17px;
  --padding-mini: 15px;
  --padding-11xs: 2px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-10xl: 29px;
  --padding-4xl: 23px;
  --padding-lgi: 19px;
  --padding-lg: 18px;
  --padding-58xl: 77px;
  --padding-571xl: 590px;
  --padding-230xl: 249px;
  --padding-364xl: 383px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-11xs: 2px;
  --br-81xl: 100px;
  --br-31xl: 50px;
}
